<app-header></app-header>

  <div class="h-20 bg-[#F5F5F5] w-full flex justify-start items-center pt-4 md:pl-48 md:pr-48 gap-4 flex-col" >
    <p class=" font-bold text-2xl text-[#CF2E2E]">About my Angular experience</p>
    <p class="text-xl">


    </p>
  </div>
<div class=" bg-[#F5F5F5] flex  flex-col md:flex-row justify-start items-center gap-4 p-16 ">

  <div class="h-full w-full justify-center items-center flex">
    <img src="assets/images/walkwayWharf.png">
  </div>
  <div class="h-full w-full  pt-4 p-4 md:p-24">
    <p class="text-2xl">
      During my tenure in the banking sector, I functioned as a full-stack engineer. I crafted frontend solutions for clients using Angular, specifically Angular 2 with
      a focus on module-based applications. Notably, this portfolio site you're currently exploring was constructed
      using Angular v17, emphasizing a standalone-based application approach. This combination of backend and frontend
      expertise allowed for comprehensive and seamless solutions tailored to the needs of our clients.
    </p>

  </div>

</div>
<app-footer></app-footer>

