.landingImage {
  position: relative;
  background-image: url('/assets/images/wharfPhone.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #CF2E2E;
}

.landingImage::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 0.5 opacity */
  z-index: 0; /* Set z-index to a lower value */
}

/* Set a higher z-index for the text elements */
p {
  position: relative;
  z-index: 1; /* Set z-index to a higher value */
}
