<app-header></app-header>

  <div class="h-20 bg-[#F5F5F5] w-full flex justify-start items-center pt-4 md:pl-48 md:pr-48 gap-4 flex-col" >
    <p class=" font-bold text-2xl text-[#CF2E2E]">About my Java experience</p>

  </div>
<div class="bg-[#F5F5F5] flex flex-col md:flex-row justify-start items-center gap-4 p-16">

  <div class="h-full w-full flex justify-center items-center">
    <img src="assets/images/dayTimeBul.png" />
    </div>
  <div class="h-full w-full  pt-4 p-4 md:p-24">
    <p class="text-2xl">
      During my professional experience working within the banking sector and start ups,
      I used core Java, the springboot framework and J2EE to provide solutions for clients.
      When developing backend solutions I used Docker and Kubernetes to package and build code
      for our clients. All code was hosted on Microsoft Azure.
    </p>

  </div>

</div>
<app-footer></app-footer>
