<app-header></app-header>


<div class="h-[70vh] bg-green-500 flex flex-col justify-center items-center">
  <div class="h-5/6 bg-red-500 w-full flex flex-col imageOne">

    <div class="h-4/6 w-full flex justify-center items-center  flex-col gap-4">
      <p class="text-white font-bold text-[72px] 	">About Me</p>
      <p class="text-white  text-2xl	">A developer based in London! </p>

    </div>
  </div>
  <div class="h-1/6 bg-[#F5F5F5] w-full flex justify-start items-center pt-4 md:pl-48 md:pr-48 gap-4 flex-col" >
    <p class=" font-bold text-2xl text-[#CF2E2E]">Past experience</p>
    <p class="text-xl">


    </p>
  </div>
</div>
<div class=" bg-[#F5F5F5] flex-col md:flex-row flex justify-start items-center gap-4 p-16">

  <div class="h-full w-full  justify-center items-center flex ">
    <img class="" src="assets/images/lukeAtBenchWharf.png" />
  </div>
  <div class="h-full w-full pt-4 p-4 md:p-24">
    <p class="text-2xl">Hey! I'm a developer based in London. UK. I spent multiple years within the banking sector providing Java based solutions. The spring framework
      was primarily used, and at times I worked on legacy J2EE codebases. When needed, I also provided angular based
      frontend solutions for clients to interact with out API's. To build and package our code we used a combination
      of Docker and Kubernetes and we worked with Microsoft Azure as our cloud provider.
    </p>
  </div>

</div>
<div class=" bg-[#F5F5F5] flex flex-col md:flex-row justify-start items-center gap-4 p-16">

  <div class="h-full w-full pt-4 p-4 md:p-24">
    <p class="text-2xl">I also worked at a tech start up working to provide educational tools to children across the
    world. We used React and Next.js to provide interactive front end tools. On the backend we used Java based API's.</p>
  </div>
  <div class="h-full w-full  ">
    <img class="" src="assets/images/wharfEve.png" />

  </div>

</div>

<app-footer></app-footer>
