<app-header></app-header>


<div class="h-[70vh] bg-green-500 flex flex-col justify-center items-center">
  <div class="h-5/6 bg-red-500 w-full flex flex-col imageOne">

    <div class="h-4/6 w-full flex justify-center items-center  flex-col gap-4">
      <p class="text-white font-bold text-[72px] 	">About Me</p>
      <p class="text-white  text-2xl	">A developer based in London! </p>

    </div>
  </div>
  <div class="h-1/6 bg-[#F5F5F5] w-full flex justify-start items-center pt-4 md:pl-48 md:pr-48 gap-4 flex-col" >
    <p class=" font-bold text-2xl text-[#CF2E2E]">Past experience</p>
    <p class="text-xl">


    </p>
  </div>
</div>
<div class=" bg-[#F5F5F5] flex-col md:flex-row flex justify-start items-center gap-4 p-16">

  <div class="h-full w-full  justify-center items-center flex ">
    <img class="" src="assets/images/lukeAtBenchWharf.png" />
  </div>
  <div class="h-full w-full pt-4 p-4 md:p-24">
    <p class="text-2xl">Hello! I'm a developer based in London, UK. My professional journey includes several years of experience within the banking sector, where I specialized in delivering Java-based solutions. The primary framework utilized was Spring, and I often worked on legacy J2EE codebases.

      In addition to backend development, I contributed to the user experience by providing Angular-based frontend solutions, allowing clients to seamlessly interact with our APIs. For efficient code management, we employed a combination of Docker and Kubernetes. Our cloud infrastructure was powered by Microsoft Azure, enhancing the scalability and reliability of our solutions.
    </p>
  </div>

</div>
<div class=" bg-[#F5F5F5] flex flex-col md:flex-row justify-start items-center gap-4 p-16">

  <div class="h-full w-full pt-4 p-4 md:p-24">
    <p class="text-2xl">
      In my downtime, I find joy in going for long walks, and I've included some pictures from these outings for you to enjoy across the site! Another favorite pastime of mine is engaging in a casual game of badminton. Also, I often reach for a good book. </p>
  </div>
  <div class="h-full w-full  ">
    <img class="" src="assets/images/wharfEve.png" />

  </div>

</div>

<app-footer></app-footer>
