<app-header></app-header>

  <div class="h-20 bg-[#F5F5F5] w-full flex justify-start items-center pt-4 md:pl-48 md:pr-48 gap-4 flex-col" >
    <p class=" font-bold text-2xl text-[#CF2E2E]">About my React experience</p>
    <p class="text-xl">


    </p>
  </div>
<div class=" bg-[#F5F5F5] flex  flex-col md:flex-row justify-start items-center gap-4 p-16">

  <div class="h-full w-full flex justify-center items-center">
    <img src="assets/images/londonSkyViews.png" />

  </div>
  <div class="h-full w-full  pt-4 md:p-24">
    <p class="text-2xl">

      During my tenure at a tech startup, our primary focus was on delivering educational tools for children, and my
      role involved utilizing React to create innovative frontend solutions. We employed both the Create-React-App
      framework and transitioned to Next.js, and I have substantial experience with both.

      To showcase my proficiency in React, I've created mock-ups of well-known websites.
      You can explore screenshots of my work on UpWork!
    </p>

  </div>

</div>
<app-footer></app-footer>

