<div class="h-20  bg-[#F5F5F5] w-full flex justify-center md:justify-end items-center md:pr-28 ">
  <p [routerLink]="'/home'" class="text-black font-bold text-2xl
            hover:cursor-pointer hover:text-[#CF2E2E] mr-2">Home</p>
  <p [routerLink]="'/about-me'" class="text-black font-bold text-2xl
            hover:cursor-pointer hover:text-[#CF2E2E] mr-2 ml-2">About Me</p>
  <P  [routerLink]="'/portfolio'" class="text-black font-bold text-2xl
             hover:cursor-pointer hover:text-[#CF2E2E] ml-2">Portfolio</P>
</div>
